<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>

<br>

<section class="form-container">
    <form action="/alumnos" method="post">
        <input type="number" name="matricula" id="matricula" placeholder="Matricula" required>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
        <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required> 
        <input type="text" name="sexo" id="sexo" placeholder="M o F" required>
        <input type="text" name="especialidad" id="especialidad" placeholder="Especialidad" required>

        <div style="float: right; margin-right: 5.5rem; margin-top: 1rem;">
            <button type="submit">Enviar Informacion</button>
        </div>
    </form>

    <div class="container">
        <table class="table table-hover">
            <tr>
                <th scope="col">
                    ID
                </th>
                <th scope="col">
                    Matricula
                </th>
                <th scope="col">
                    Nombre
                </th>
                <th scope="col">
                    Domicilio
                </th>
                <th scope="col">
                    Sexo
                </th>
                <th scope="col">
                    Especialidad
                </th>
            </tr>
            <tbody>
                <% for(let alumno of reg){ %>
                    <tr>
                        <td>
                            <%= alumno.id_alumnos %>
                        </td>
                        <td>
                            <%= alumno.matricula %>
                        </td>
                        <td>
                            <%= alumno.nombre %>
                        </td>
                        <td>
                            <%= alumno.domicilio %>
                        </td>
                        <td>
                            <%= alumno.sexo %>
                        </td>
                        <td>
                            <%= alumno.especialidad %>
                        </td>  
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</section>

<%-include('partials/footer.ejs')%>

