<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>

<section>
    <div id="formulario">
        <form action="/cotizacion" method="post" id="cotizacionForm">
            <label for="valor">
                Valor del Automóvil
            </label>
            <input type="number" name="valor" id="valor" required value="<%= valor %>"><br>

            <label for="pinicial">
                Porcentaje
            </label>
            <input type="number" name="pinicial" id="pinicial" required value="<%= pinicial %>"><br>
            <select name="plazos" id="plazos">
                <option value="12">12 Meses</option>
                <option value="24">24 Meses</option>
                <option value="36">36 Meses</option>
                <option value="48">48 Meses</option>
                <option value="60">60 Meses</option>
            </select>
            <button type="submit">
                Calcular
            </button>
            <button type="button" onclick="limpiarFormulario()">
                Limpiar
            </button>
        </form>
    </div>
    <div id="resultados">
        <% if (!isNaN(pagoInicial) && !isNaN(totalFin) && !isNaN(totalPlazos)) { %>
            <h3>
                Pago Inicial: <%= pagoInicial %> <br>
                Total a financiar: <%= totalFin %> <br>
                Pago mensual: <%= totalPlazos %> <br>
            </h3>
        <% } else { %>
            <p>No se han calculado los valores aún.</p>
        <% } %>
    </div>
</section>

<%- include('partials/footer.ejs') %>

<script>
    function limpiarFormulario() {
        document.getElementById('valor').value = '';
        document.getElementById('pinicial').value = '';
        document.getElementById('plazos').selectedIndex = 0;

        document.getElementById('resultados').innerHTML = '';
    }
</script>
