<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%=titulo%></title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }
    header {
      background-color: aquamarine;
      text-align: center;
      padding: 1rem 0;
    }
    header img {
      width: min(500px, 90%);
      margin: 1rem auto;
      box-shadow: 0 5px 15px 1px #0000005a;
    }
    nav {
      background-color: black;
      padding: 1rem 0;
      display: flex;
      justify-content: space-around;
    }
    a {
      color: white;
      text-decoration: none;
    }
    main {
      background-color: #fff;
      padding: 2rem;
      margin: 0 auto;
      max-width: 800px;
    }
    .input-container {
      margin-bottom: 1rem;
    }
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    input,
    select {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    .buttons-container {
      display: flex;
      justify-content: space-between;
    }
    button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    button.btn-primary {
      background-color: #007bff;
      color: #fff;
    }
    button.btn-primary:hover {
      background-color: #0056b3;
    }
    button.btn-danger {
      background-color: #dc3545;
      color: #fff;
    }
    button.btn-danger:hover {
      background-color: #c82333;
    }
    table {
      width: 100%;
      margin-top: 2rem;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 0.5rem;
      text-align: center;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <%- include('partials/encabezado.ejs') %>
  <%- include('partials/navegador.ejs') %>
  <main>
    <% if(!isPost){ %>
    <form class="main-content" action="/pago" method="post">
      <div class="input-container">
        <label for="numero">Numero Recibo</label>
        <input id="numero" type="number" name="numero" />
      </div>
      <div class="input-container">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" name="nombre" />
      </div>
      <div class="input-container">
        <label for="domicilio">Domicilio</label>
        <input id="domicilio" type="text" name="domicilio" />
      </div>
      <div class="input-container">
        <label for="servicio">Tipo de Servicio</label>
        <select id="servicio" name="servicio">
          <option value="0">Domestico</option>
          <option value="1">Comercial</option>
          <option value="2">Industrial</option>
        </select>
      </div>
      <div class="input-container">
        <label for="kwConsumidos">Kilowatts Consumidos</label>
        <input id="kwConsumidos" type="number" name="kwConsumidos" />
      </div>
      <div class="buttons-container">
        <button class="btn btn-primary" type="submit">
          Enviar Informacion
        </button>
        <button class="btn btn-danger"><a href="/pago">Limpiar</a></button>
      </div>
    </form>
    <%} else{ %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Numero</th>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo de servicio</th>
          <th scope="col">Kilowatts Consumidos</th>
          <th scope="col">Costo por Kilowatts</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= numero %></td>
          <td><%= nombre %></td>
          <td><%= servicio %></td>
          <td><%= kwConsumidos %></td>
          <td><%= precioKw %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Subtotal:</td>
          <td><%= subtotal %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Impuesto:</td>
          <td><%= impuesto.toFixed(2) %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Descuento:</td>
          <td><%= descuento %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Total a pagar:</td>
          <td><%= subtotalConDescuento %></td>
        </tr>
      </tbody>
    </table>
    <% } %>
  </main>
  <%- include('partials/pie.ejs') %>
</body>
</html>
